.statistic__column {
  text-align: center;
}

.statistic__value {
  font-size: 1.5rem;
  color: var(--color-text-third);
}

.statistic__suffix {
  font-size: 0.8rem;
  color: var(--color-text-primary);
}
