<li class="todo">
  <div class="todo__content">
    <div class="todo__icons">
      <div class="todo__change-wrapper" (click)="changeCompleteHandler()">
        @if (todo.isComplete) {
          <svg
            [ngClass]="{ icon_active: todo.isComplete }"
            app-complete-icon
          ></svg>
        } @else {
          <span class="todo__cycle" [class]="getClassPriority(todo.priority)">
            <div class="inner"></div
          ></span>
        }
      </div>

      <svg app-video-icon></svg>
    </div>
    <div class="todo__text-wrapper">
      <p class="todo__description">
        {{ todo.description }}
      </p>
      <div class="todo__values">
        @if (todo.value <= 5) {
          @for (item of [].constructor(todo.value); track $index) {
            <svg app-peach-icon></svg>
          }
        } @else {
          <div class="todo__icons-value">
            <svg app-peach-icon class="icon__todo icon_target"></svg>
            <span class="todo__complete-value">{{ todo.valueComplete }}</span
            >/<svg app-peach-icon class="icon__todo"></svg>
            <span class="todo__uncomplete-value">{{ todo.value }}</span>
          </div>
        }
      </div>
    </div>
    @if (isOpen$ | async) {
      <app-modal-setting-todo
        [todo]="todo"
        [modalActive]="(isOpen$ | async)!"
        (changeModalOpen)="closeModal($event)"
        (priorityChanged)="changePriority($event)"
      >
        <app-input-increase
          [control]="valueControl"
          (valueChange)="onValueChangeDirection($event)"
          (activeValueCountChange)="onInputValueChange($event)"
        ></app-input-increase>
      </app-modal-setting-todo>
    }
  </div>
  @if (dateView) {
    <div class="todo__date-wrapper">
      <div
        class="todo__setting-icon-wrapper"
        (mousedown)="openModalTodo($event)"
      >
        <svg
          app-settings-icon
          [ngClass]="{ icon_active: isOpen$ | async }"
        ></svg>
      </div>
      <p
        class="todo__date"
        [ngClass]="{
          todo__date_past: changeColorPastDate(todo.timeToCreate),
        }"
      >
        {{ getFormattedDate(todo.timeToCreate) }}
      </p>
    </div>
  }
</li>
