.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.todo__content {
  display: grid;
  position: relative;
  grid-template-columns: 50px 1fr;
  width: 100%;
}

.todo__icons {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.todo__text-wrapper {
  padding: 0 0.5rem;
}

.todo__description {
  word-break: break-all;
  overflow-wrap: break-word;
}

.todo__values {
  display: flex;
  align-items: center;
}

.todo__date-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
}

.todo__date {
  flex-shrink: 0;
}
