.todos__empty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.uncomplete__sum-values {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.middle-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  content: "";
  border: none;
  border-radius: 50%;
  background-color: black;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(/assets/images/todo-empty.jpg);
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.todos__container {
  display: flex;
  flex-direction: column;
  // max-height: 400px;
  // overflow: auto;
  gap: 0.5rem;
}

.button__todos {
  padding: 2px 20px 2px 10px;
  border: none;
  border-radius: 10px;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-bg-button-hover);
    }
  }
}

.button__todos::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
}

.button__todos_active::after {
  transform: translateY(-50%) rotate(180deg);
}

.todos__button-wrapper {
  text-align: center;
  margin: 1rem 0 1rem;
}
