.statistic__column {
  text-align: center;
}

.statistic__value {
  color: var(--color-text-secondary);
  font-size: 1.5rem;
}

.statistic__minute {
  font-size: 0.8rem;
  color: var(--color-text-black);
}
