.checkbox-settings .custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
  cursor: pointer;
}

.checkbox-settings .custom-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 72px;
}

.checkbox-settings .custom-checkbox,
.checkbox-settings .custom-checkbox::after {
  transition: all 100ms ease-out;
}

.checkbox-settings .custom-checkbox::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-settings .custom-checkbox:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-settings .custom-checkbox:checked {
  background-color: #6e79d6;
}

.checkbox-settings .custom-checkbox:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-settings :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-settings .custom-checkbox:checked:hover {
  background-color: #535db3;
}
