@if (modal$ | async; as modalState) {
  @if (!modalState.isOpen) {
    <div class="modal-loader__overlay">
      <div class="modal-loader__content">
        @if (!modalState.message) {
          <p>{{ modalState.message | capitalize }}</p>
          <p>test</p>
        }

        @if (modalState.isLoading) {
          <span class="loader"></span>
        }

        @if (modalState.isSuccess) {
          <span></span>
        }

        @if (modalState.isError) {
          <p>error!!!!!!!!!!!!!!!</p>
        }
      </div>
    </div>
  }
}
