<div class="input-field">
  <input
    class="input-field__input"
    appFocusInput
    [formControl]="control"
    [type]="type"
    [ngClass]="{
      'input-field__input_invalid': isControlInvalid(control),
    }"
  />

  <div class="status-wrapper">
    @if (registrationInput) {
      @if (applyAsyncValidator) {
        @if (control.pending) {
          <span class="loader loader_input"></span>
        } @else if (isValidAndTouched()) {
          <svg app-check-icon></svg>
        } @else if (control.hasError("serverUnavailable")) {
          <span class="loader loader_input"></span>
        }
      } @else {
        @if (isValidAndTouched()) {
          <svg app-check-icon></svg>
        }
      }
    } @else {
      @if (loginPassword) {
        <div class="status__password-view" (click)="toggleViewPassword()">
          @if (type === "password") {
            <svg app-view-icon></svg>
          } @else {
            <svg app-not-view-icon></svg>
          }
        </div>
      }
    }
  </div>

  @if (controlHasLength()) {
    <label class="input-field__label">{{ inputName }}</label>
  }

  <p
    class="input-field__hint"
    [ngClass]="{
      'input-field__hint_active': !controlHasLength(),
    }"
  >
    {{ inputName }}
  </p>

  @if (isControlInvalid(control)) {
    <div class="error__field">
      @for (
        errorMessage of errorMessages.getErrorMessages(control, inputName);
        track $index
      ) {
        <p>{{ errorMessage }}</p>
      }
    </div>
  }
</div>
