<div class="input-field">
  <input
    class="input-field__input"
    appFocusInput
    [formControl]="control"
    [type]="type"
    [ngClass]="{
      'input-field__input_invalid': isControlInvalid(control),
    }"
  />
  @if (controlHasLength()) {
    <label class="input-field__label">{{ inputName }}</label>
  }

  <p
    class="input-field__hint"
    [ngClass]="{
      'input-field__hint_active': !controlHasLength(),
    }"
  >
    {{ inputName }}
  </p>

  @if (isControlInvalid(control)) {
    <div class="error__field">
      @if (control.hasError("required")) {
        <p>{{ inputName | capitalize }} is required.</p>
      }

      @if (control.hasError("maxlength")) {
        <p>
          {{ inputName | capitalize }} must be at most
          {{ control.getError("maxlength")?.requiredLength }} characters.
        </p>
      }

      @if (control.hasError("multipleWords")) {
        <p>A {{ inputName }} cannot contain two or more words.</p>
      }

      @if (control.hasError("minlength")) {
        <p>
          {{ inputName | capitalize }} must be at least
          {{ control.getError("minlength")?.requiredLength }} characters.
        </p>
      }

      @if (control.hasError("nicknameTaken")) {
        <p>{{ inputName | capitalize }} is already exists</p>
      }

      @if (control.hasError("isStrong")) {
        <p>
          {{ inputName | capitalize }} must contain digits, uppercase, lowercase
          & symbols
        </p>
      }

      @if (control.hasError("noSpaces")) {
        <p>No spaces allowed</p>
      }

      @if (control.hasError("hasDigit")) {
        <p>The {{ inputName }} must not contain numbers.</p>
      }

      @if (control.hasError("passwordMismatch")) {
        <p>Passwords do not match</p>
      }
    </div>
  }
</div>
