:host {
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: var(--color-bg-secondary);
  padding: 0.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.modal-sort {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.sort__label {
  white-space: nowrap;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 10px;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-text-button-hover);
    }
  }

  &.active {
    background-color: var(--color-bg-sidebar-active);
    cursor: auto;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
  }
}

.sort__radio {
  display: none;
}
