:host {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  top: 23px;
  right: -20px;
  background-color: var(--color-bg-modal-secondary);
  padding: 0.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.todo-inc__icon-wrapper {
  width: 1.2rem;
  height: 1.2rem;
}

.todo-inc__input {
  width: 40px;
  text-align: center;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.icon__increase {
  width: 15px;
  height: 15px;
}

.button__increase {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border);
}

.button__increase_minus {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button__increase_plus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button_disabled {
  pointer-events: none;
  cursor: auto;
  opacity: 0.2;
}
