:host {
  position: absolute;
  top: 23px;
  right: -20px;
  background-color: var(--color-bg-modal-secondary);
  padding: 0.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
