<div class="main-content__wrapper">
  <header class="main-content__header">
    <h2>{{ todoActiveLink$ | async | capitalize }}</h2>
    <div class="main-content__svg-wrapper">
      <svg app-sort-icon></svg>
    </div>
  </header>
  <section class="main-content__statistics">
    <app-main-content-statistic
      [value]="0"
      [minute]="true"
      description="Estimated time"
    ></app-main-content-statistic>
    <app-main-content-statistic
      [value]="0"
      description="Todos awaiting completion"
    ></app-main-content-statistic>
    <app-main-content-statistic
      [value]="0"
      [minute]="true"
      description="Time spent"
    >
    </app-main-content-statistic>
    <app-main-content-statistic
      [value]="todoComplete$ | async"
      description="Completed todos"
    ></app-main-content-statistic>
  </section>
  <section>
    <app-main-content-form-input></app-main-content-form-input>
  </section>
  <section class="main-content__todos">
    <app-main-content-todos></app-main-content-todos>
    @for (errorText of todoErrors$ | async; track $index) {
      <app-modal-error [text]="errorText"></app-modal-error>
    }
  </section>
</div>
