<form class="add-todo__form" [formGroup]="addTodoForm">
  <svg app-plus-icon class="add-todo__icon-add" (click)="addTodo()"></svg>

  <input
    class="add-todo__input"
    placeholder="To add a task to 'Tasks', press [Enter] to save"
    formControlName="text"
  />

  <div class="add-todo__icons">
    <div class="icons__values" (mouseleave)="onMouseLeave()">
      @for (icon of activeIconsState.icons; track $index) {
        <svg
          app-peach-icon
          [ngClass]="{
            icon_active: icon.isHovered || icon.isTarget,
            icon_target: icon.isHovered && icon.isTarget,
          }"
          (mouseenter)="onHoverValues($index)"
          (click)="onClickIconValue($index)"
        ></svg>
      }
    </div>
    <svg
      (click)="openIncreaseModal()"
      app-arrow-icon
      class="add-todo__icon-more-values"
    ></svg>
    @if (modalIncrease | async) {
      <app-modal-increase
        [control]="addTodoForm.controls.values"
        (valueChange)="onValueChangeDirection($event)"
        (activeValueCountChange)="onInputValueChange($event)"
      ></app-modal-increase>
    }
  </div>
</form>
