.button__sign {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: var(--color-text-button-primary);
  background-color: var(--color-bg-button-register);

  &:hover {
    background-color: var(--color-bg-button-register-hover);
    color: var(--color-text-button-hover);
  }
}

.button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
