.tab-nav {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-sidebar);
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  border: 1px solid var(--color-border);
  gap: 0.5rem;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    color: red;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tab-nav_active {
  background-color: var(--color-bg-sidebar-active);
  cursor: auto;
  pointer-events: none;
}

.tab-nav__icon {
  width: 18px;
  height: 18px;
}

.tab-nav__text {
  font-size: 0.9rem;
}
