.wrapper__header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--color-bg-primary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header__logo {
  width: 40px;
  height: 40px;
  justify-self: start;
}

.header__img {
  width: 100%;
  border-radius: 50%;
}

.header__title {
  margin: 0;
  flex-grow: 1;
  justify-self: center;
}

.header__profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: end;
}

.header__settings {
  width: 20px;
  height: 20px;
}

.header__settings {
  position: relative;
  width: 20px;
  height: 20px;
}

.header__logout {
  width: 25px;
  height: 25px;
}

.skeleton-line {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--color-bg-primary) 25%,
    var(--color-bg-tertiary) 50%,
    var(--color-bg-tertiary) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
