:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper__login {
  background-color: var(--color-bg-primary);
  border-radius: 10px;
  padding: 0.5rem;
}

.login__title {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.login__form {
  margin-bottom: 0.5rem;
}

.login__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button__login {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: var(--color-text-button-primary);
  background-color: var(--color-bg-button-register);

  &:hover {
    background-color: var(--color-bg-button-register-hover);
    color: var(--color-text-button-hover);
  }
}

.link {
  text-decoration: underline;

  &:hover {
    color: var(--color-text-button-hover);
  }
}
