<div class="wrapper wrapper__login">
  <h1 class="login__title">Login</h1>
  <form
    class="login__form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit($event)"
  >
    <ul>
      <li>
        <app-input-field
          [control]="loginForm.controls.userName"
          type="text"
          inputName="username"
          [registrationInput]="false"
        >
        </app-input-field>
      </li>
      <li>
        <app-input-field
          [control]="loginForm.controls.password"
          [type]="(changeTypePassword$ | async)!"
          inputName="password"
          [loginPassword]="true"
          [registrationInput]="false"
          (changePasswordView)="changePasswordView($event)"
        >
        </app-input-field>
      </li>
    </ul>
    <div class="login__buttons">
      <app-button-sign> Sign in </app-button-sign>
    </div>
  </form>
  <p>
    You don't have an account?
    <a routerLink="/registration" class="link">Registration</a>
  </p>
</div>
