.sidebar__items {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
  min-height: 170px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 170px;
}

.sidebar__icon {
  width: 18px;
  height: 18px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-sidebar);
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  gap: 0.5rem;
  border-radius: 10px;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-text-button-hover);
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sidebar__text-wrapper {
  display: flex;
  gap: 0.5rem;
}

.sidebar__link_active {
  background-color: var(--color-bg-sidebar-active);
  cursor: auto;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
}

.sidebar__text {
  font-size: 1em;
  white-space: nowrap;
}

.sidebar__stats {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}
