/* You can add global styles to this file, and also import other style files */
:root {
  --color-bg-primary: #ffcba4;
  --color-bg-secondary: #fff5ee;
  --color-bg-tertiary: #f8ad7e;
  --color-border: #f0c6a8;
  --color-bg-modal: #fff;

  --color-text-button-primary: white;
  --color-text-button-hover: white;
  --color-bg-button-register: green;
  --color-bg-button-register-hover: rgb(2, 151, 2);

  --color-text-link-register-hover: #f8ad7e;

  --color-input-focus: white;
  --color-input-error-border: red;

  --color-loader-border: lightblue;
  --color-loader-border-right: orange;

  --color-icon: #f86d02;
  --color-icon-hover: #f39954;

  --color-bg-sidebar: #fbe2cf;
  --color-bg-sidebar-active: #ffcba4;

  --color-bg-cross-modal-close: black;
  --color-bg-cross-modal-close-hover: orange;

  --arrow-select-border: #000;
  --custom-select-bg: #fff;
  --custom-select-option-bg-active: rgb(230, 227, 227);
  --custom-select-border: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

a {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid var(--color-loader-border);
  border-right-color: var(--color-loader-border-right);
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
