<div class="wrapper wrapper__registration">
  <h1 class="registration__title">Registration</h1>
  <form
    class="form form__registration"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit($event)"
  >
    <ul class="form__fields">
      <li class="form__field">
        <app-input-field
          [control]="registrationForm.controls.userName"
          type="text"
          inputName="username"
          [applyAsyncValidator]="true"
        ></app-input-field>
      </li>
      <li class="form__field">
        <app-input-field
          [control]="registrationForm.controls.password"
          type="password"
          inputName="password"
        ></app-input-field>
      </li>
      <li class="form__field">
        <app-input-field
          [control]="registrationForm.controls.realName"
          type="text"
          inputName="name"
        ></app-input-field>
      </li>
    </ul>

    <div class="registration__buttons">
      <button
        type="submit"
        class="button button__registration button__registration_register"
        [disabled]="isLoading$ | async"
      >
        Sign up
      </button>
    </div>
  </form>
  <p>
    Do you already have an account?
    <a routerLink="/login" class="link">Login</a>
  </p>
</div>
