:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper__registration {
  background-color: var(--color-bg-primary);
  border-radius: 10px;
  padding: 0.5rem;
}

.form__registration {
  margin-bottom: 0.5rem;
}

.registration__title {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.form__fields {
  margin-bottom: 1rem;
}

.form__field {
  position: relative;
  margin-bottom: 0.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.registration__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button__registration {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: var(--color-text-button-primary);
  background-color: var(--color-bg-button-register);

  &:hover {
    background-color: var(--color-bg-button-register-hover);
    color: var(--color-text-button-hover);
  }
}

.link {
  text-decoration: underline;

  &:hover {
    color: var(--color-text-button-hover);
  }
}

.button_disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
